.code-box-shape{
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    background-color:red;
    position: relative;
    border-radius: 10px;
    left: -100%;
    font-size: 8px;
}
.type1{

}
.type2{
    bottom: 50px;
}
.type3{
    bottom: 50px;
}
.type4{
    bottom: 100px;
}